
@model IEnumerable<RidePath>
@{
    ViewData["Title"] = "VerifyCab";
}


<div style="background-color:steelblue;" id="background-video" class="hero">
    <img src="~/Images/hero-bg.png" />
</div>

<div class="col-lg-5 order-1 order-lg-2 hero-img container" data-aos="zoom-out" style="float:left">

</div>



<div class="container" style="margin-left:40px;margin-top:100px">
    <div class="container-fluid">
        @if (Model.Any())
        {
            <div class="row">

                <table class="table table-striped" style="background-color:white">
                    <tr>
                        <th>Source</th>
                        <th>Destination</th>
                        <th>Cost</th>

                    </tr>
                    @foreach (var route in Model)
                    {
                        <tr>
                            <td>@route.Source</td>
                            <td>@route.Destination</td>
                            <td>@route.Cost</td>                      
                            <td style="padding : 0px; margin : 0px ; width: 80px; border-radius:10px"><a asp-action="EditLocation" asp-route-id="@route.Id" class="btn btn-primary" style="width:80px">Update</a></td>
                            <td style="padding : 0px; margin : 0px;  width: 80px; border-radius:10px "><a asp-action="DeleteLocation" asp-route-id="@route.Id" class="btn btn-danger" style="width:80px" onclick="return confirm('Do You Want To Delete This Path?')">Delete</a></td>
                        </tr>
                    }
                </table>

            </div>
        }
        else
        {
            <div class="alert alert-info">
                No Routs Found
            </div>
        }
    </div>

</div>


